@import "variables";

@font-face {
  font-family: 'pop-up';
  src:  url('#{$icomoon-font-path}/pop-up.eot?x08pze');
  src:  url('#{$icomoon-font-path}/pop-up.eot?x08pze#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/pop-up.ttf?x08pze') format('truetype'),
    url('#{$icomoon-font-path}/pop-up.woff?x08pze') format('woff'),
    url('#{$icomoon-font-path}/pop-up.svg?x08pze#pop-up') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pop-up' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}

